.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: lime;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: fade-in linear;
  animation-timeline: scroll(block);
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
